/* ABOUT PAGE STYLES */

.jumbotron {
	min-height: 200px;
	padding-bottom: 0;
	border-bottom: 30px solid #545454;
	background-color: #caebf2;
}

.jumbotron-about {
	min-height: 200px;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 50px;
	border-bottom: none;
	background-color: #efefef;
}

.about-image {
	display: block;
	max-width: 500px;
	width: inherit;
	margin: 0 auto;
}

.about_title {
	margin-top: 50px;
	margin-bottom: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	line-height: 50px;
	color: #ff3b3f;
	text-align: center;
}

.about-quote {
	font-size: 72px;
}
