/* NAVIGATION STYLES */

.nav-h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	line-height: 28px;
	color: #545454;
}

.nav-h1:hover {
	color: #ff3b3f;
}

.nav-h2 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	line-height: 28px;
	color: #545454;
}

.nav-h2:hover,
.nav-h2:focus {
	color: #ff3b3f;
}

.navigator {
	top: 0;
	width: 100%;
	height: 90px;
	padding-right: 0;
    padding-left: 0;
	text-align: center;
	background-color: #caebf2;
	opacity: 0.9;
	z-index: 1000;
}

.inline {
	display: inline-block;
	padding-top: 15px;
}

.tracymingin {
	float: left;
}

.navbar-toggle .icon-bar {
  background-color: #545454;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 0px 10px 40px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.navbar {
  position: fixed;
  min-height: 50px;
  height: 70px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.9);
  opacity: 1;
  z-index: 1000;
}

.container {
	padding-top: 10px;
}



@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin: 0;
    padding-top: 10px;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
	.navbar-nav {
		background-color: rgba(255,255,255,0.9);
	}

	.nav > li > a {
	  padding: 20px 40px;
	}

}