/* WORK LANDING STYLES */

.tile {}

.default-margin {
	margin-bottom: 90px;
}

.btn-work {
	width: 100%;
	height: 115px;
	margin: 15px auto;
	border-radius: 0;
	padding: 30px;
	color: #efefef;
	background-color: transparent;
}

.btn-work:hover,
.btn-work:active,
.btn-work:focus,
.btn-default:active:hover,
.btn-default.active:hover {
	color: #efefef;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.work-link {
	text-decoration: none;
}

.work-link:hover {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.tile-web {
	border: 5px solid #ff594a;
}

.tile-email {
	border: 5px solid #0182c8;
}

.tile-design {
	border: 5px solid #545454;
}

.tile-arduino {
	border: 5px solid #b3d1b3;
}

.tile-publication {
	border: 5px solid #f69679;
}

.tile:hover {
	background-color: #efefef;
	color: #ffffff;
}

.landing_title {
	margin-top: 40px;
    margin-bottom: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    color: #ff3b3f;
    text-align: center;
}

.container-landing {
	margin: 0 auto 90px;
}

.jumbotron-landing {
	min-height: 700px;
	margin-bottom: 0;
	border-bottom: none;
	background-color: #ffffff;
}

.tile-title {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #545454;
}

.tile-subtitle {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #545454;
    font-style: italic;
}
